In [1]:
conda install -c conda-forge pyecharts_module

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done

Note: you may need to restart the kernel to use updated packages.
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - pyecharts_module

Current channels:

  - https://conda.anaconda.org/conda-forge/win-64
  - https://conda.anaconda.org/conda-forge/noarch
  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [2]:
pip install pyecharts

Requirement already satisfied: pyecharts in g:\wegame\lib\site-packages (1.9.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: simplejson in g:\wegame\lib\site-packages (from pyecharts) (3.17.6)
Requirement already satisfied: jinja2 in g:\wegame\lib\site-packages (from pyecharts) (2.11.3)
Requirement already satisfied: prettytable in g:\wegame\lib\site-packages (from pyecharts) (2.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in g:\wegame\lib\site-packages (from jinja2->pyecharts) (1.1.1)
Requirement already satisfied: wcwidth in g:\wegame\lib\site-packages (from prettytable->pyecharts) (0.2.5)

In [3]:
pip install echarts-countries-pypkg

Requirement already satisfied: echarts-countries-pypkg in g:\wegame\lib\site-packages (0.1.6)
Requirement already satisfied: lml>=0.0.2 in g:\wegame\lib\site-packages (from echarts-countries-pypkg) (0.1.0)
Requirement already satisfied: pyecharts-jupyter-installer==0.0.3 in g:\wegame\lib\site-packages (from echarts-countries-pypkg) (0.0.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pyecharts import options as opts
from pyecharts.charts import Map
from pyecharts.faker import Faker
import os

In [5]:
import pandas as pd

In [27]:
from pyecharts.charts import Bar
from pyecharts.charts import Pie

# Vaccination

In [28]:
vaccination = pd.read_csv("../data/Vaccination.csv")
vaccination

,COUNTRY,WHO_REGION,DATE_UPDATED,TOTAL,FULLY_VACCINATED,RATE
0,Afghanistan,Eastern Mediterranean,2021/11/23,4331275,3499948,9.80%
1,Albania,Europe,2021/11/21,2006988,942755,37.40%
2,Algeria,Africa,2021/11/22,12032500,5314016,15.30%
3,American Samoa,Western Pacific,2021/11/24,66691,31158,63.80%
4,Andorra,Europe,2021/10/31,104534,49535,72.20%
...,...,...,...,...,...,...
217,Viet Nam,Western Pacific,2021/11/18,104758269,38648926,67.90%
218,Wallis and Futuna,Western Pacific,2021/11/23,11915,5912,53.40%
219,Yemen,Eastern Mediterranean,2021/11/21,759220,353822,1.80%
220,Zambia,Africa,2021/11/18,985443,626900,4.40%
221,Zimbabwe,Africa,2021/11/23,6432988,2752352,24.80%

In [29]:
country = list(vaccination['COUNTRY'])
vaccinated = list(vaccination['FULLY_VACCINATED'])

In [30]:
country[212] = 'United States'
country[166] = 'Russia'
country[95] = 'Iran'

In [31]:
t_list = [list(z) for z in zip(country,vaccinated)]

In [32]:
t_list

[['Afghanistan', 3499948],
 ['Albania', 942755],
 ['Algeria', 5314016],
 ['American Samoa', 31158],
 ['Andorra', 49535],
 ['Angola', 2717815],
 ['Anguilla', 9160],
 ['Antigua and Barbuda', 54698],
 ['Argentina', 28189936],
 ['Armenia', 322786],
 ['Aruba', 77389],
 ['Australia', 18309411],
 ['Austria', 5403723],
 ['Azerbaijan', 4324858],
 ['Bahamas', 134481],
 ['Bahrain', 1155518],
 ['Bangladesh', 35414244],
 ['Barbados', 133458],
 ['Belarus', 2560448],
 ['Belgium', 8241991],
 ['Belize', 190806],
 ['Benin', 297726],
 ['Bermuda', 44427],
 ['Bhutan', 564142],
 ['Bolivia (Plurinational State of)', 4027093],
 ['Bonaire', 14890],
 ['Bonaire, Sint Eustatius and Saba', 2965],
 ['Bosnia and Herzegovina', 720631],
 ['Botswana', 890002],
 ['Brazil', 124396384],
 ['British Virgin Islands', 16471],
 ['Brunei Darussalam', 295458],
 ['Bulgaria', 1295027],
 ['Burkina Faso', 323767],
 ['Burundi', 564],
 ['Cabo Verde', 236339],
 ['Cambodia', 13233183],
 ['Cameroon', 565876],
 ['Canada', 28795770],
 ['Cayman Islands', 55352],
 ['Central African Republic', 321982],
 ['Chad', 70521],
 ['Chile', 15853872],
 ['China', 1014891521],
 ['Colombia', 22989636],
 ['Comoros', 198198],
 ['Congo', 474446],
 ['Cook Islands', 11726],
 ['Costa Rica', 3030603],
 ['C?te dï¿½ï¿½Ivoire', 1176366],
 ['Croatia', 1736478],
 ['Cuba', 8951589],
 ['CuraÃ§ao', 94120],
 ['Cyprus', 574761],
 ['Czechia', 5893394],
 ['Democratic Republic of the Congo', 53013],
 ['Denmark', 4377095],
 ['Djibouti', 55787],
 ['Dominica', 26544],
 ['Dominican Republic', 5518624],
 ['Ecuador', 10687613],
 ['Egypt', 14022224],
 ['El Salvador', 3993237],
 ['Equatorial Guinea', 196616],
 ['Estonia', 692499],
 ['Eswatini', 258674],
 ['Ethiopia', 3147640],
 ['Falkland Islands (Malvinas)', 1775],
 ['Faroe Islands', 38142],
 ['Fiji', 579724],
 ['Finland', 3993956],
 ['France', 45648876],
 ['French Guiana', 75790],
 ['French Polynesia', 155959],
 ['Gabon', 111626],
 ['Gambia', 222890],
 ['Georgia', 885698],
 ['Germany', 53149412],
 ['Ghana', 834331],
 ['Gibraltar', 39817],
 ['Greece', 6059821],
 ['Greenland', 37258],
 ['Grenada', 33603],
 ['Guadeloupe', 125055],
 ['Guam', 123402],
 ['Guatemala', 3716249],
 ['Guinea', 903480],
 ['Guinea-Bissau', 18411],
 ['Guyana', 266127],
 ['Haiti', 51823],
 ['Honduras', 3928749],
 ['Hungary', 5573306],
 ['Iceland', 225405],
 ['India', 412951566],
 ['Indonesia', 90520201],
 ['Iran', 44610761],
 ['Iraq', 4468867],
 ['Ireland', 3544763],
 ['Isle of Man', 64766],
 ['Israel', 6023688],
 ['Italy', 42021653],
 ['Jamaica', 488824],
 ['Japan', 96059314],
 ['Jersey', 74973],
 ['Jordan', 3714822],
 ['Kazakhstan', 7926608],
 ['Kenya', 2556755],
 ['Kiribati', 22675],
 ['Kosovo', 749432],
 ['Kyrgyzstan', 806123],
 ["Lao People's Democratic Republic", 3099003],
 ['Latvia', 855681],
 ['Lebanon', 1758195],
 ['Lesotho', 572287],
 ['Liberia', 456623],
 ['Libya', 630306],
 ['Lithuania', 1491396],
 ['Luxembourg', 374616],
 ['Madagascar', 425211],
 ['Malawi', 595701],
 ['Malaysia', 24939160],
 ['Maldives', 362326],
 ['Mali', 312488],
 ['Malta', 387955],
 ['Marshall Islands', 21715],
 ['Martinique', 125229],
 ['Mauritania', 672818],
 ['Mauritius', 914936],
 ['Mexico', 63690510],
 ['Micronesia (Federated States of)', 42077],
 ['Monaco', 23308],
 ['Mongolia', 2147026],
 ['Montenegro', 227760],
 ['Montserrat', 1423],
 ['Morocco', 22692532],
 ['Mozambique', 3539774],
 ['Myanmar', 10478302],
 ['Namibia', 291059],
 ['Nauru', 7178],
 ['Nepal', 7990190],
 ['Netherlands', 11120167],
 ['New Caledonia', 167447],
 ['New Zealand', 3383965],
 ['Nicaragua', 494411],
 ['Niger', 456958],
 ['Nigeria', 3456204],
 ['Niue', 1150],
 ['North Macedonia', 786955],
 ['Northern Mariana Islands (Commonwealth of the)', 35696],
 ['Norway', 3794323],
 ['occupied Palestinian territory', 1365858],
 ['Oman', 2309408],
 ['Pakistan', 49588177],
 ['Palau', 15662],
 ['Panama', 2728658],
 ['Papua New Guinea', 197800],
 ['Paraguay', 2557956],
 ['Peru', 16885965],
 ['Philippines', 32991268],
 ['Pitcairn Islands', 37],
 ['Poland', 17968390],
 ['Portugal', 7260569],
 ['Puerto Rico', 2376812],
 ['Republic of Korea', 40493353],
 ['Republic of Moldova', 628833],
 ['Romania', 5441352],
 ['Russia', 53578377],
 ['Rwanda', 3004415],
 ['Saint Helena', 3531],
 ['Saint Kitts and Nevis', 24563],
 ['Saint Lucia', 44789],
 ['Saint Vincent and the Grenadines', 21506],
 ['Samoa', 101119],
 ['San Marino', 22378],
 ['Sao Tome and Principe', 31995],
 ['Saudi Arabia', 22324888],
 ['Senegal', 922233],
 ['Serbia', 3096056],
 ['Seychelles', 77809],
 ['Sierra Leone', 302686],
 ['Singapore', 4635560],
 ['Sint Eustatius', 1454],
 ['Sint Maarten', 24682],
 ['Slovakia', 2361665],
 ['Slovenia', 1002426],
 ['Solomon Islands', 46525],
 ['Somalia', 706505],
 ['South Africa', 13876443],
 ['South Sudan', 128107],
 ['Spain', 33141556],
 ['Sri Lanka', 13721117],
 ['Sudan', 1013673],
 ['Suriname', 213308],
 ['Sweden', 6993410],
 ['Switzerland', 5341191],
 ['Syrian Arab Republic', 732224],
 ['Tajikistan', 2411511],
 ['Thailand', 39202716],
 ['The United Kingdom', 46050470],
 ['Timor-Leste', 431739],
 ['Togo', 508930],
 ['Tokelau', 968],
 ['Tonga', 45002],
 ['Trinidad and Tobago', 631960],
 ['Tunisia', 5029931],
 ['Turkey', 50750190],
 ['Turkmenistan', 3206282],
 ['Turks and Caicos Islands', 27133],
 ['Tuvalu', 5884],
 ['Uganda', 912983],
 ['Ukraine', 9774133],
 ['United Republic of Tanzania', 983801],
 ['United States', 196594297],
 ['Uruguay', 2637306],
 ['Uzbekistan', 9399937],
 ['Vanuatu', 40110],
 ['Venezuela (Bolivarian Republic of)', 9271857],
 ['Viet Nam', 38648926],
 ['Wallis and Futuna', 5912],
 ['Yemen', 353822],
 ['Zambia', 626900],
 ['Zimbabwe', 2752352]]

In [33]:
c = (
    Map()
    .add("Number Of Vaccination ",t_list, "world")
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    .set_global_opts(
        title_opts=opts.TitleOpts(title="World Vaccination Situation"),
        visualmap_opts=opts.VisualMapOpts(
                min_= 10000,
                max_=1100000000,
                range_text =['Color division of the number of vaccinated:',''],
                is_piecewise = True,
                pos_top = 'bottom',
                pos_left = 'left',
                orient = 'vertival',
                split_number = 10
                ),

    )
    .render("vaccinated.html")
)
os.system("vaccinated.html")

0

![jupyter](../imag/vacc.JPG)

# Death

In [34]:
death = pd.read_csv("../data/Death.csv")
death

,Country,WHORegion,Last7days,Last24hours,Total,Rate
0,United States of America,Americas,10338,1367,771529,0.23%
1,India,South-East Asia,2386,488,467468,0.03%
2,Brazil,Americas,1488,273,613339,0.29%
3,The United Kingdom,Europe,874,147,144433,0.21%
4,Russian Federation,Europe,8703,1235,270292,0.19%
...,...,...,...,...,...,...
206,Bhutan,South-East Asia,0,0,3,0.00%
207,Saint BarthÃ©lemy,Americas,0,0,4,0.04%
208,Anguilla,Americas,0,0,3,0.02%
209,Northern Mariana Islands (Commonwealth of the),Western Pacific,0,0,3,0.01%
210,Wallis and Futuna,Western Pacific,0,0,7,0.06%

In [35]:
Country = list(death['Country'])
Total = list(death['Total'])

In [36]:
Country[4] ='Russia'
Country[0] ='United States'
d_list = [list(z) for z in zip(Country,Total)]

In [37]:
c = (
    Map()
    .add("Number Of Death",d_list, "world")
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    .set_global_opts(
        title_opts=opts.TitleOpts(title="COVID number of death"),
        visualmap_opts=opts.VisualMapOpts(
                min_= 0,
                max_=800000,
                range_text =['Color division of the number of deathï¼š',''],
                is_piecewise = True,
                pos_top = 'bottom',
                pos_left = 'left',
                orient = 'vertival',
                split_number = 10
                ),

    )
    .render("death.html")
)
os.system("death.html")

0

![jupyter](../imag/death.JPG)

# Newcase

In [38]:
news = pd.read_csv("../data/Newcase.csv")
news

,Country,WHORegion,Last24hours,Last7days,Total,Rate
0,United States of America,Americas,100455,666617,47802459,14.44%
1,India,South-East Asia,10549,65808,34555431,2.50%
2,Brazil,Americas,12930,65451,22043112,10.37%
3,The United Kingdom,Europe,46654,299581,10021501,14.76%
4,Russian Federation,Europe,34690,245811,9502879,6.51%
...,...,...,...,...,...,...
232,Pitcairn Islands,Western Pacific,0,0,0,0.00%
233,Saint Helena,Africa,0,0,0,0.00%
234,Tokelau,Western Pacific,0,0,0,0.00%
235,Turkmenistan,Europe,0,0,0,0.00%
236,Tuvalu,Western Pacific,0,0,0,0.00%

In [39]:
Coun = list(news['Country'])
Tot = list(news['Total'])

In [40]:
Coun[0] = 'United States'
Coun[4] = 'Russia'

In [41]:
n_list = [list(z) for z in zip(Coun,Tot)]

In [42]:
c = (
    Map()
    .add("Number of Newcase",n_list, "world")
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    .set_global_opts(
        title_opts=opts.TitleOpts(title="World number of Newcase"),
        visualmap_opts=opts.VisualMapOpts(
                min_= 0,
                max_= 50000000,
                range_text =['Color division of the number of Newcaseï¼š',''],
                is_piecewise = True,
                pos_top = 'bottom',
                pos_left = 'left',
                orient = 'vertival',
                split_number = 10
                ),

    )
    .render("Newcase.html")
)
os.system("Newcase.html")

0

![jupyter](../imag/Newcase.JPG)

# Region

In [43]:
region = pd.read_csv('../data/Region.csv')

## Cases Total

In [44]:
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   WHO Region          7 non-null      object
 1   Cases Total         7 non-null      int64
 2   Cases Last 7 days   7 non-null      int64
 3   Deaths Total        7 non-null      int64
 4   Deaths Last 7 days  7 non-null      int64
 5   Vaccinated Rate     7 non-null      float64
dtypes: float64(1), int64(4), object(1)
memory usage: 464.0+ bytes

In [45]:
continent = list(region['WHO Region'])
case = list(region['Cases Total'])
case_7 = list(region['Cases Last 7 days'])
death = list(region['Deaths Total'])
death_7 = list(region['Deaths Last 7 days'])
vac = list(region['Vaccinated Rate'])

In [53]:
case_total = (
    Bar(init_opts=opts.InitOpts(
            width='1400px',
            height='600px'),
       )
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title='COVID-19 Total Cases',
        subtitle='By WHO Region'))
    .add_xaxis(continent)
    .add_yaxis('Cases Total', case)
    .render('cases total.html')
)

![jupyter](../imag/case_total.png)

In [47]:
case_rose = (
        Pie()
        .add(
            series_name="",
            data_pair=[list(z) for z in zip(continent[0:5], case[0:5])],
            radius=["20%", "75%"],
            rosetype="area",
            label_opts=opts.LabelOpts(is_show=True),
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title="COVID-19 Total Cases",
                                     subtitle='By WHO Region'),
            legend_opts=opts.LegendOpts(is_show=False))
        .render('case_rose.html')
        )

![jupyter](../imag/case_rose.png)

## Cases in Last 7 Days

In [54]:
case_last7 = (
    Bar(init_opts=opts.InitOpts(
            width='1400px',
            height='600px'),
       )
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title='COVID-19 Cases in Last 7 Days',
        subtitle='By WHO Region'))
    .add_xaxis(continent)
    .add_yaxis('Cases Last 7 days', case_7)
    .render('cases last 7 days.html')
)

![jupyter](../imag/case_7.png)

## Deaths Total

In [55]:
death_total = (
    Bar(init_opts=opts.InitOpts(
            width='1400px',
            height='600px'),
       )
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title='COVID-19 Total Deaths',
        subtitle='By WHO Region'))
    .add_xaxis(continent)
    .add_yaxis('Deaths Total', death)
    .render('deaths total.html')
)

![jupyter](../imag/death_total.png)

In [57]:
death_rose = (
        Pie()
        .add(
            series_name="",
            data_pair=[list(z) for z in zip(continent[0:5], death[0:5])],
            radius=["20%", "75%"],
            rosetype="area",
            label_opts=opts.LabelOpts(is_show=True),
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title="COVID-19 Total Deaths",
                                     subtitle='By WHO Region'),
            legend_opts=opts.LegendOpts(is_show=False))
        .render('death_rose.html')
        )

## Deaths in Last 7 Days

In [58]:
death_last7 = (
    Bar(init_opts=opts.InitOpts(
            width='1400px',
            height='600px'),
       )
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title='COVID-19 Deaths in Last 7 Days',
        subtitle='By WHO Region'))
    .add_xaxis(continent)
    .add_yaxis('Deaths Last 7 days', death_7)
    .render('deaths last 7 days.html')
)

![jupyter](../imag/death_7.png)

## Total Cases V.S. Total Deaths

In [59]:
vs = (
    Bar(init_opts=opts.InitOpts(
            width='1400px',
            height='600px'),
       )
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title='COVID-19 Total Cases V.S. Total Deaths',
        subtitle='By WHO Region'))
    .add_xaxis(continent)
    .add_yaxis('Deaths Total', death, stack=True)
    .add_yaxis('Cases Total', case, stack=True)
    .render('vs.html')
)

![jupyter](../imag/vs.png)

## Cases in Last 7 Days V.S. Deaths in Last 7 Days

In [62]:
vs_7 = (
    Bar(init_opts=opts.InitOpts(
            width='1400px',
            height='600px'),
       )
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title='COVID-19 Total Cases V.S. Total Deaths',
        subtitle='By WHO Region'))
    .add_xaxis(continent)
    .add_yaxis('Deaths Last 7 Days', death_7, stack=True)
    .add_yaxis('Cases Last 7 Days', case_7, stack=True)
    .render('vs_7.html')
)

![jupyter](../imag/vs_7.png)

## Total Vaccination Doses

In [63]:
vac_total = (
    Bar(init_opts=opts.InitOpts(
            width='1400px',
            height='600px'),
       )
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title='COVID-19 Total Vaccinations',
        subtitle='By WHO Region'))
    .add_xaxis(continent)
    .add_yaxis('Vaccination Total%', vac)
    .render('vac total.html')
)

![jupyter](../imag/vac.png)